@inherits LayoutComponentBase

<div class="app-shell">
    <aside class="nav">
        <NavMenu />
    </aside>

    <main class="view">
        <div class="view-topbar">
            <SaveButton />
        </div>
        @Body
    </main>
</div>
