<nav class="nav-menu">
    <div class="nav-brand">caravan-flow</div>

    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Graph</NavLink>
    <NavLink class="nav-link" href="lineage">Lineage</NavLink>
    <NavLink class="nav-link" href="provenance">Provenance</NavLink>
    <NavLink class="nav-link" href="errors">Errors</NavLink>
    <NavLink class="nav-link" href="settings">Settings</NavLink>
    <NavLink class="nav-link" href="metrics">Metrics</NavLink>
</nav>
